name: Elixir - Test

on:
  workflow_call:
    inputs:
      pairs:
        type: string
        default: "[{\"elixir\": \"1.15.0\", \"otp\": \"25.1\"}, {\"elixir\": \"1.19.x\", \"otp\": \"28.x\"}]"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_protected == true && github.run_id || github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref_protected != true }}

env:
  MIX_ENV: test

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(inputs.pairs) }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Setup Elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: ${{ matrix.elixir }}
        otp-version: ${{ matrix.otp }}

    - name: Disable compile warnings
      run: echo "::remove-matcher owner=elixir-mixCompileWarning::"

    - name: Retrieve mix dependencies cache
      uses: actions/cache@v4
      id: mix-cache
      with:
        path: |
          deps
          _build
        key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles('**/mix.lock') }}
        restore-keys: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-
        save-always: ${{ github.ref == 'refs/heads/main' }}

    - name: Install mix dependencies
      if: steps.mix-cache.outputs.cache-hit != 'true'
      run: |
        mix deps.get
        mix deps.compile

    - name: Run tests
      run: mix test
